* {
    font-family: 'Open Sans', sans-serif;
}

/* header section */
.header {
    text-align: center;
    padding: 175px 300px;
    background-image: url(./images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title {
    font-size: 35px;
    font-weight: 700;
    padding: 0px 150px;
    color: white;
}

.header-description {
    gap: 10px;
    font-size: 16px;
    padding: 0px 100px;
    color: white;
}

.btn-primary {
    border-radius: 5px;
    background: #FF5959;
    font-size: 20px;
    text-align: center;
    border: none;
    font-weight: 600;
    padding: 16px;
    gap: 10px;
    color: white;
}

/* donate today section */
.donate-today{
    margin: 130px 300px;
    text-align: center;
}
.hr{
    margin-bottom: 30px;
}
.donate-today-header {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
}

.donate-today-description {
    color: #707070;
    text-align: center;
    margin-bottom: 10px;
}


.takaContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 50px 0px;
}


.taka {
    background-color: #FAFAFA;
    padding: 22px 43px;
    border-radius: 5px;
    color: #707070;
}

#bg-orange {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}


.taka-description {
    text-align: center;
    color: #B3B3B3;
    font-size: 16px;

}

/* Our Donate Plan section */

.donateplane-header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.donateplane-description {
    padding: 0px 400px;
    color: #707070;
    text-align: center;
    margin-bottom: 20px;
}

/* image food shelter education */
.food-shelter-edu-bg1 {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    padding: 50px 20px;
}

.food-shelter-edu-bg2 {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    padding: 50px 20px;

}

.food-shelter-edu-bg3 {
    border-radius: 5px;
    background: #FFF4D6;
    padding: 50px 20px;
}


.food-shelter-edu {
    display: flex;
    margin: 0px 100px;
    gap: 24px;
}

.food-description {
    font-size: 12px;
    color: #707070;
}

/* depend-donation section */
.depend-donation-bg {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 100px 120px;
}


.depend-donation-1stp {
    font-size: 16px;
    color: #707070;

}

.depend-donation-2ndp {
    font-size: 16px;
    color: #707070;

}

.depend-donation-img {
    width: 50%;
    margin-right: 50px;
}

.alu {
    width: 100%;
    height: 100%;
}
/* They need us to suvive */
.need-suvive-container{
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 100px 156px;
    
}
.bagun{
    width: 100%;
    height: 100%;
}
.need-suvive-img{
    width: 50%;
    margin-left: 50px;
}
.need-suvive-header{
    font-size: 30px;
}
.need-suvive-descrption1{
    font-size: 16px;
    color: #707070;
}
.need-suvive-descrption2{
    font-size: 16px;
    color: #707070;
}
/* get-My-Updates */
.get-My-Updates-container{
   text-align: center;
   padding: 0px 315px;
}
.get-My-Updates-header{
    font-size: 30px;
}
.get-My-Updates-des{
    color: #707070;
    font-size: 16px;
    margin-bottom: 50px;
}
.input-email{
    background-color: #FFF4D6;
    padding: 40px 100px;

}
.email{
    border-radius: 5px 0px 0px 5px;
    background-color: #D9D9D9;
    padding: 20px 40px;
    border: none;
    font-size: 16px;

}
.footer{
    background-color: black;
    margin-top: 130px;
    text-align: center;
    color: #FF5959;

}
.behumble{
    font-size: 26px;
    font-family: 'Lobster', sans-serif;
    
}
.go{
    font-size: 20px;
    color: red;
  
}

